
.nav {
  position: fixed;
}
 
.body {
      margin-left: 0;
      margin-right: 0;
    }
7

.card-header {
    padding: 1.5rem;
}

 #card-row {
    float: left;
    padding-top: 2rem;
 }

.card-body {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    padding: 1rem;
 }

#picture {
  display: block;
  float: left;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  margin: 0px;
  border: 0px;
}

#card-btn-row {
  float: right;
  padding: 0.5rem;
}

#card-button-ctrl {
  margin: 0.1rem;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40!important;
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

#sticky-footer-container {
    margin: 0px;
}

#small-gatito {
  color: #ADAFB5;
}

@media (max-width:2000px) {
  body {
    color: #ADAFB5;
  }

}

@media (max-width:980px) {
  body {
    color: #77B300;
  }
}

@media (max-width:768px) {
  body {
    color: #FF8800;
  }
}

@media (max-width:640px) {
  body {
    color: #9933CC;
  }
}
