
.nav {
  position: fixed;
}
 
.body {
      margin-left: 0;
      margin-right: 0;
    }

.card-header {
    padding: 1.5rem;
}

 #card-row {
    float: left;
    padding-top: 2rem;
 }

.card-body {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    padding: 1rem;
 }

#picture {
  display: block;
  float: left;
  padding-right: 1.5rem;
  margin: 0px;
  border: 0px;
}

#card-button-row {
  float: right;
  float: bottom;
  padding: 0.5rem;
  padding-right: 1.5rem;
}

#card-button-ctrl {
  margin: 0.1rem;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40!important;
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

